<!DOCTYPE html>
<html>
<!--Header-->
<%- include('../layouts/head'); %>
<body>
	<div class="wrapper">
		<!--Main header-->
		<%- include('../layouts/main-header'); %>
		<!--slidebar-->
		<%- include('../layouts/slide-bar'); %>
			<div class="main-panel">
				<%- include('../components/components'); %>
				<!--footer-->
				<%- include('../layouts/footer'); %>
			</div>
		</div>
	</div>
</body>
<%- include('../layouts/script/mainscript.ejs'); %>
</html>