<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">
            <% if(mode === "Create") { %>
                Tạo đơn hàng mới
            <% } %>
            <% if(mode === "Update") { %>
                Cập nhật đơn hàng
            <% } %>
            <% if(mode === "Delete") { %>
                Bạn có hủy đơn hàng khong <%=product?.name%>
            <% } %>
        </h4>
        <div class="card">
            <div class="card-body">
                <% if(mode === "Create") { %>
                    <form action="/products/create" method="post">
                <% } %>
                <% if(mode === "Update") { %>
                    <form action="/products/update/<%= product?._id %>" method="post">
                        <!-- <div class="form-group" style="display: none;">
                            <input 
                            name="id"
                            type="text"
                            value="<%= product?._id %>" 
                            class="form-control" 
                            id="id">
                        </div> -->
                <% } %>
                <% if(mode === "Delete") { %>
                    <form action="/products/delete" method="post">
                        <div class="form-group" style="display: none;">
                            <input 
                            name="id"
                            type="text"
                            value="<%= product?._id %>" 
                            class="form-control" 
                            id="id">
                        </div>
                <% } %>

                        <!-- error input 
                        <div class="form-group has-error has-feedback">
                            <label for="errorInput">Error Input</label>
                            <input type="text" id="errorInput" value="Error" class="form-control">
                            <small id="emailHelp" class="form-text text-muted">Please provide a valid informations.</small>
                        </div>
                        -->

                        
                    <div class="form-group <%= err?.discount && 'has-error has-feedback' %>">
                        <label for="code">Giảm giá </label>
                        <input 
                        name="code"
                        type="number"
                        value="<%= order?.discount %>" 
                        class="form-control" 
                        id="code" 
                        placeholder="Nhập giảm giá"
                        <% if (mode === 'Delete') { %> disabled <% } %>
                        />
                        <small id="emailHelp" class="form-text text-muted text-danger"><%= err?.discount%></small>
                    </div>
                    <div class="form-group">
                        <label for="code">Danh sách sản phẩm</label>
                        <div id="listProduct">
                            <div  class="d-flex " >
                                <button class="btn btn-success" type="submit"><i class="la la-plus"></i></button>
                            <select  class="form-control form-control max-w-20 mb-4px" name="itemSelect" id="itemSelect">
                                <option value=""  >Chọn sản phẩm</option>
                                <% products.forEach(function(product, index){ %>
                                        <option value="<%=product._id + '-' + product.productCode%>"  ><%=product.name%></option>
                                <%})%>
                                
                            </select>
                            <input 
                        name="quantity"
                        type="number"
                        value="<%= order?.quantity %>" 
                        class="form-control" 
                        id="quantity" 
                        placeholder="Nhập quantity"
                       
                        />
                            <input 
                        name="price"
                        type="number"
                        value="<%= order?.price %>" 
                        class="form-control" 
                        id="itemPrice" 
                        disabled
                        />

                        <select  class="form-control form-control max-w-20 mb-4px" name="itemColor" id="itemColor">
                            <option value=""  >Chọn màu</option>
                            
                            
                        </select>
                        <select  class="form-control form-control max-w-20 mb-4px" name="itemSize" id="itemSize">
                            <option value=""  >Chọn size</option>
                            
                            
                        </select>
                        <button class="btn btn-danger" type="submit"><i class="la la-trash"></i></button>
                            </div>
                            

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="code">Địa chỉ giao hàng</label>
                        <div id="billingAddress">
                            
                            <input 
                        name="billingAddress"
                        type="text"
                        class="form-control" 
                        id="billingAddress" 
                        placeholder="Nhập dia chi"
                       
                        />
                            <input 
                        name="billingDistrict"
                        type="text"
                        class="form-control" 
                        id="billingDistrict" 
                        placeholder="Nhập quận"
                       
                        />
                            <input 
                        name="billingCity"
                        type="text"
                        class="form-control" 
                        id="billingCity" 
                        placeholder="Nhập Tp"
                       
                        />
                            <input 
                        name="billingName"
                        type="text"
                        class="form-control" 
                        id="billingName" 
                        placeholder="Nhập name"
                       
                        />
                            <input 
                        name="billingEmail"
                        type="email"
                        class="form-control" 
                        id="billingEmail" 
                        placeholder="Nhập email" 
                       
                        />
                            <input 
                        name="billingPhoneNumber"
                        type="number"
                        class="form-control" 
                        id="billingPhoneNumber" 
                        placeholder="Nhập phoneNumber"
                       
                        />
                         
                        
                        
                            </div>
                            

                        </div>

                    </div>
                    
                    




                   
                    
                    <div class="card-action"> 
                     <% if(mode === "Create") { %>
                        <button class="btn btn-success" type="submit">Tạo</button>
                    <% } %>
                    <% if(mode === "Update") { %>
                        <button class="btn btn-success" type="submit">Sửa</button>
                    <% } %>
                    <% if(mode === "Delete") { %>
                        <button class="btn btn-danger" type="submit">Xóa</button>
                    <% } %>
                        <a class="btn btn-primary" href="/products">Danh sánh sản phẩm</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>