<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">
            <% if(mode === "Create") { %>
                Tạo đơn hàng mới
            <% } %>
            
        </h4>
        <div class="card">
            <div class="card-body">

                    <form action="/orders/simulatorCreate" method="post">

                

                        <!-- error input 
                        <div class="form-group has-error has-feedback">
                            <label for="errorInput">Error Input</label>
                            <input type="text" id="errorInput" value="Error" class="form-control">
                            <small id="emailHelp" class="form-text text-muted">Please provide a valid informations.</small>
                        </div>
                        -->

                        
                    <div class="form-group <%= err?.discount && 'has-error has-feedback' %>">
                        <label for="code">Giảm giá </label>
                        <input 
                        name="code"
                        type="number"
                        value="<%= order?.discount %>" 
                        class="form-control" 
                        id="code" 
                        placeholder="Nhập giảm giá"
                        <% if (mode === 'Delete') { %> disabled <% } %>
                        />
                        <small id="emailHelp" class="form-text text-muted text-danger"><%= err?.discount%></small>
                    </div>
                    <div class="form-group">
                        <label for="code">Danh sách sản phẩm</label>
                        <div id="listProduct">
                            <div  class="d-flex orderItemGroup" >
                                <div class="btn btn-success" onclick="addNewOrderItem()"><i class="la la-plus"></i></div>
                            <select  class="form-control form-control max-w-20 mb-4px itemSelect" name="itemSelect" >
                                <option value=""  >Chọn sản phẩm</option>
                                <% products.forEach(function(product, index){ %>
                                        <option value="<%=product._id%>" data-colors="<%=product.colors%>" data-sizes="<%=product.sizes%>" data-price="<%=product.price%>" ><%=product.name%></option>
                                <%})%>
                                
                            </select>
                            <input 
                        name="quantity"
                        type="number"
                        value="<%= order?.quantity %>" 
                        class="form-control" 
                        id="quantity" 
                        placeholder="Nhập quantity"
                       
                        />
                            <input 
                        name="price"
                        type="number"
                        value="<%= order?.price %>" 
                        class="form-control itemPrice" 
                         
                        
                        />

                        <select  class="form-control form-control max-w-20 mb-4px itemColor" name="itemColor" >
                            <option value=""  >Chọn màu</option>
                            
                            
                        </select>
                        <select  class="form-control form-control max-w-20 mb-4px itemSize" name="itemSize" >
                            <option value=""  >Chọn size</option>
                            
                            
                        </select>
                        <div class="btn btn-danger" ><i class="la la-trash"></i></div>
                            </div>
                            
                            

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="code">Địa chỉ giao hàng</label>
                        <div id="billingAddress">
                            
                            <input 
                        name="billingAddress"
                        type="text"
                        class="form-control" 
                        id="billingAddress" 
                        placeholder="Nhập dia chi"
                       
                        />
                            <input 
                        name="billingDistrict"
                        type="text"
                        class="form-control" 
                        id="billingDistrict" 
                        placeholder="Nhập quận"
                       
                        />
                            <input 
                        name="billingCity"
                        type="text"
                        class="form-control" 
                        id="billingCity" 
                        placeholder="Nhập Tp"
                       
                        />
                            <input 
                        name="billingName"
                        type="text"
                        class="form-control" 
                        id="billingName" 
                        placeholder="Nhập name"
                       
                        />
                            <input 
                        name="billingEmail"
                        type="email"
                        class="form-control" 
                        id="billingEmail" 
                        placeholder="Nhập email" 
                       
                        />
                            <input 
                        name="billingPhoneNumber"
                        type="number"
                        class="form-control" 
                        id="billingPhoneNumber" 
                        placeholder="Nhập phoneNumber"
                       
                        />
                         
                        
                        
                            </div>
                            

                        </div>

                    </div>
                    
                    




                   
                    
                    <div class="card-action"> 

                        <button class="btn btn-success" type="submit">Tạo</button>

                    
                        <a class="btn btn-primary" href="/orders">Danh sánh đơn hàng</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>